@use 'reset';
@use 'util';
@use 'config';

body {
    display: grid;
    grid-template-columns: 1fr minmax(355px, min(50%, 1000px)) 1fr;
    grid-template-rows: auto 20% auto;
    min-height: auto;
    background-color: lighten(config.$neutral-color, 49);
}

header {
    grid-row: 1/3;
    grid-column: 1/-1;
}

main {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: -1;
}

.card {
    background-color: lighten(config.$neutral-color, 100);
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    @extend .flex-col;
    @extend .align-center
}

.logo {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: -1.5rem;
}

.title {
    text-align: center;
    width: 75%;
}

.subtitle {
    margin-top: 1em;
    text-align: center;
    width: 90%;
}

.title-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    margin-top: min(10%, 2.4em);
    margin-bottom: 3em;
}

.bookmark {
    border-style: none;
}

.progress-info {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-top: min(10%, 3.5em);
    margin-bottom: min(10%, 3.5em);
}

.progress-info>div {
    flex: 1 0 max(33%, 250px);
    text-align: center;
    margin-bottom: 2em;
}

.progress-info p:nth-child(2n) {
    margin-top: 0.5em;
}

.progress-num {
    @extend %font-300;
    font-size: 1.8rem;
}


@media screen and (min-width: 62em) {
    .bookmark {
        border-radius: 2em;
        height: 4.2em;
        background-color: #f5f4f4;

        &:hover {
            filter: opacity(0.3);
        }
    }

    .bookmark::after {
        display: inline-block;
        position: relative;
        bottom: 25px;
        content: 'Bookmark';
        vertical-align: middle;
        font-family: config.$font-name;
        font-weight: 700;
        font-size: 1.1em;
        color: config.$neutral-color;
        margin-left: 0.8em;
        margin-right: 1.5em;
    }
}

@media screen and (max-width: 62em) {
    .bookmark {
        background-color: lighten($color: config.$neutral-color, $amount: 100);
    }
}

//util classes

%font-100 {
    font-family: config.$font-name;
    font-weight: 400;
}

%font-200 {
    font-family: config.$font-name;
    font-weight: 500;
}

%font-300 {
    font-family: config.$font-name;
    font-weight: 700;
}

.text1 {
    font-size: util.clamped(1.25rem, 1.86rem);
    @extend %font-300
}

.text2 {
    font-size: util.clamped(0.9rem, 1rem);
    @extend %font-100;
    color: config.$neutral-color;
}

.btn1 {
    padding: 0 2.8em 0 2.8em;
    height: 4em;
    border-radius: 2em;
    font-size: 0.9em;
    border-style: none;
    cursor: pointer;
    background-color: config.$primary-color;
    color: lighten(config.$neutral-color, 100);
    @extend %font-200
}

.btn1:hover {
    background-color: darken($color: config.$primary-color, $amount: 15)
}

.card-margin-top {
    margin-top: 1.8em;
}